# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
release
*.local

# Editor directories and files
.claude/
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
settings.json
.env

/supabase/.temp
/api/local.settings.json
/test/automatic-tester/reports
/.aider-env
.aider*
/.cache
/.pki
/.github/agents
/manual-db-backup/backups
/manual-db-backup/supabase
/supabase
