# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
release
*.local

# Editor directories and files
.claude/
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
settings.json
.env

/api/local.settings.json
/.aider-env
.aider*
/.pki
/.github/agents
/supabase

# Temporary data
/test-data
/tools/Amir-System-Migration/__pycache__
/tools/Amir-System-Migration/output/
/manual-db-backup/backups
/manual-db-backup/supabase
/supabase/.temp
/test/automatic-tester/reports
/.cache
